# Github .gitignore for C

# Binary files
bin/

# Object files
*.o
*.ko

# Libraries
*.lib
*.a
lib/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.DS_Store
